.card {
    border:$azul 1px solid;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;

    .card-body {
        p {
            color: black;
            font-family: 'M PLUS Rounded 1c', sans-serif;
        }

        .buttonComprar {
            padding: 8px;
            border: none;
            border-radius: 10px;
            box-shadow: 0 2px 0 $celeste;
            background-color: $azul;
            transition: all 0.2;

            a {
                color: white;
                font-family: 'M PLUS Rounded 1c', sans-serif;
                font-size: 15px;
                text-transform: uppercase;
                text-decoration: none;
            }
            &:hover{
                transform: translateY(1px);
                box-shadow: 0 2px 0 $celeste;
            
           }
       }
       
    }
}